# Install pyodbc â€” ODBC package for python

1. install pyodbc package.

In [1]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\programdata\anaconda3\lib\site-packages (4.0.27)

2. To check whether the driver has installed properly, find all the drivers connected to
pyodbc.

In [2]:
import pyodbc
pyodbc.drivers()

['SQL Server',
 'PostgreSQL ANSI(x64)',
 'PostgreSQL Unicode(x64)',
 'ODBC Driver 17 for SQL Server',
 'Amazon Redshift (x64)',
 'Oracle in OraDB18Home1',
 'SQL Server Native Client 11.0',
 'ODBC Driver 11 for SQL Server',
 'MySQL ODBC 8.0 ANSI Driver',
 'MySQL ODBC 8.0 Unicode Driver',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

# 1. For remote connection.

In [3]:
# # enter ip address and port number of the system where the database resides.
# server = 'tcp:31.288.186.65,49170'
# database = 'database_name' # enter database name
# username = 'user_name'
# password = 'pass_word'

In [13]:
# enter ip address and port number of the system where the database resides.
server = 'LAPTOP-00000\SQLEXPRESS'
database = 'name_databse' # enter database name
username = 'userid'
password = 'passwd'

In [14]:
# add appropriate driver name
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

InterfaceError: ('28000', "[28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Login failed for user 'VK'. (18456) (SQLDriverConnect); [28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Login failed for user 'VK'. (18456)")

# 2. For Local connection (if data is in your local computer).

In [12]:
server = 'LAPTOP-00000\SQLEXPRESS'
database = 'database' # enter database name
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection=yes;')
cursor = cnxn.cursor()

In [10]:
server = 'LAPTOP-00000\SQLEXPRESS'
database = 'databse' # enter database name
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection=yes;')
cursor = cnxn.cursor()

In [15]:
print(cursor)

<pyodbc.Cursor object at 0x000001FD031FEA30>

# Query the database

In [16]:
import pandas as pd

In [18]:
pd.read_sql_query("select * from dbo.tablename", cnxn)

   stuid    name
0      1    John
1      2  Daniel